/******
 Styles
 *******/
.table-content {
  padding-top: 200px;
  text-align: center;
}
.div-align-table {
  margin: 0 auto;
}

.botao {
  max-width: 1028px;
}


table {
  font-weight: 400;
  min-width: 300px;
  width: 100%;
  max-width: 1028px;
}
table thead {
  display: none;
  text-align:center;
  font-weight: 500;
}
table tbody tr {
  border: 1px solid #dad6eb;
  border-radius: 5px;
  display: block;
  padding: 0px;
  margin-bottom: 30px;
  margin-top: 60px;
}
table tbody tr td {
  display: block;
  font-weight: 500;
  padding: 5px;
  position: relative;
  text-align: right;
}
table tbody tr td button {
  background: #927cfe;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  bottom: -30px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  left: 50%;
  padding: 10px 0;
  position: absolute;
  transform: translate(-50%, 50%);
  transition: background 0.12s ease-out;
  width: 100%;
}
table tbody tr td button:hover, table tbody tr td button:focus {
  background: #a795fe;
  cursor: pointer;
}
table tbody tr td:before {
  color: #8a8a87;
  content: attr(data-label);
  font-weight: 400;
  left: 5px;
  position: absolute;
}
@media (min-width: 768px) {

  .table-content {
    padding-top: 0px;
    text-align: center;
  }

  .table-content h2{
    margin-bottom: 20px;
  }
  table {
    border: 1px solid #eee;
    border-collapse: collapse;
    max-width: 992px;
    text-align: left;
    width: 100%;
  }
  table thead {
    display: table-header-group;
  }
  table thead th {
    padding: 10px;
  }
  table tbody {
    font-size: 0.875em;
  }
  table tbody tr {
    border: none;
    display: table-row;
  }
  table tbody tr:nth-child(odd) {
    background: #42327b;
    color:white;
  }
  table tbody tr td {
    display: table-cell;
    font-weight: 400;
    padding: 10px;
    text-align: center;
  }
  table tbody tr td button {
    display: inline-block;
    padding: 10px 15px;
    position: initial;
    transform: translate(0);
    width: auto;
  }
  table tbody tr td:before {
    display: none;
  }
  table tbody tr td:last-child {
    text-align: right;
  }


  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }
}
